In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

### Reading Data

In [ ]:
data = pd.read_csv('')

### Processing

One-hot encoding non-numeric features

In [3]:
data = pd.get_dummies(data)
data = data.drop_duplicates()

Imputing missing values

In [ ]:
steps = [('impute', SimpleImputer(missing_values=np.nan, strategy='mean'))]

pipe = Pipeline(steps=steps)
pipe.fit(data)
transformed = pd.DataFrame(pipe.transform(data), columns = data.columns)

Scaling features with high variance between values

In [ ]:
scaledCols = ["longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income"]

ct = ColumnTransformer([("scale", StandardScaler(), scaledCols)],remainder='passthrough')
transformed =  pd.DataFrame(ct.fit_transform(transformed), columns = data.columns)

### Display and Export

In [4]:
transformed.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-1.327835,1.052548,0.982143,-0.804819,-0.975228,-0.974429,-0.977033,2.344766,452600.0,0.0,0.0,0.0,1.0,0.0
1,-1.322844,1.043185,-0.607019,2.045890,1.355088,0.861439,1.669961,2.332238,358500.0,0.0,0.0,0.0,1.0,0.0
2,-1.332827,1.038503,1.856182,-0.535746,-0.829732,-0.820777,-0.843637,1.782699,352100.0,0.0,0.0,0.0,1.0,0.0
3,-1.337818,1.038503,1.856182,-0.624215,-0.722399,-0.766028,-0.733781,0.932968,341300.0,0.0,0.0,0.0,1.0,0.0
4,-1.337818,1.038503,1.856182,-0.462404,-0.615066,-0.759847,-0.629157,-0.012881,342200.0,0.0,0.0,0.0,1.0,0.0

In [6]:
transformed.to_csv("cleaned.zip", index=False)